.titulo {
    background-color: greenyellow;
    color: orange;
    width: 100%;
    text-align: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 5em;
}

.titulo input {         /*Ajustar tamaño del formulario*/
    text-align: center;
    align-items: right;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 500px;
    border-radius: 5cm;
}

body {
    background-image: url('https://res.cloudinary.com/teepublic/image/private/s--5hHG_gX6--/t_Preview/b_rgb:5e366e,c_limit,f_jpg,h_630,q_90,w_630/v1483530754/production/designs/1028847_1.jpg'); /*Imagen de fondo*/
    background-position: center center; /*Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-repeat: no-repeat; /*Evitar efecto mosaico en imagen*/
    background-attachment: fixed; /*Para no deformar sus dimensiones*/
    background-size: cover; /*Para cubrir toda la página*/
}

footer {
    color: white;
    text-align: start;
}


/*Precio*/
.precio {
    background-color: black;
}

/*Imagenes*/
.row img {
    background-size: cover; /*Las imagenes ocuparan todo el espacio dentro de lo que estén*/
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    transition: all 0.2s ease; /*Tarda 0.2 segundos en desvanecerse casi al máximo la imagen*/
}


/*Todo lo que esta dentro de la clase producto*/
.producto a {
    text-decoration: none; /*Quitar la decoracion de alineado por defecto de los link*/
    color: black;
}
.producto .precio {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.producto {
    position: relative; /*Así los textos quedarán en el bloque de su producto correspondiente*/
}
.producto:hover img {
    opacity: 0.2; /*Las imágenes serán casi del todo transparentes cuando se apunte sobre el producto que le corresponda*/
}
.producto:hover .overlay {
    opacity: 1; /*Cuando se apunte a un producto la opacidad de las letras (nombre del producto) será de 1*/
}

/*Desvanecer imagenes y aparecer texto*/
.overlay {
    transition: all 0.2s ease; /*transicion para aparecer lo que esta dentro de la clase overlay (los nombres de los productos)*/
    opacity: 0; /*La opacidad es 0 a no ser que el puntero esté sobre el producto que le corresponde*/
    position: absolute; /*El texto se coloca dentro de la clase producto*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*El texto se coloca en el centro*/
}
.overlay p {
    font-size: 25px;
    background-color: white;
    font-weight: bold;
}

/*Boton crear nuevo elemento*/
.boton {
    text-align: right;
}
.nuevo {
    background-color: greenyellow;
    border-color: darkgreen;
    color:darkgreen;
}


